<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.ketchapp.catchup" platformBuildVersionCode="19" platformBuildVersionName="4.4.2-1456859">
    <uses-feature android:glEsVersion="0x00020000"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="com.ketchapp.catchup.permission.C2D_MESSAGE"/>
    <permission android:name="com.ketchapp.catchup.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <application android:allowBackup="true" android:allowClearUserData="false" android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="@string/name">
        <meta-data android:name="android.app.lib" android:value="core"/>
        <meta-data android:name="com.google.android.gms.version" android:value="11010000"/>
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/google"/>
        <meta-data android:name="applovin.sdk.key" android:value="LmQqPZTWTX0sh686xWKwqrISzrLsnMP77qxXOU2x02oh8wp4R7-GzGiw62nuPA_X-x3NQ6JR957H0xMR3Kh0bP"/>
        <activity android:configChanges="orientation|screenLayout|screenSize" android:label="@string/name" android:name="com.ketchapp.catchup.Game" android:screenOrientation="portrait" android:theme="@style/theme" android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.ketchapp.promotion.PromotionActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.applovin.adview.AppLovinInterstitialActivity"/>
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.facebook.ads.InterstitialAdActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.facebook.ads.AudienceNetworkActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.adcolony.sdk.AdColonyInterstitialActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.adcolony.sdk.AdColonyAdViewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" android:name="com.heyzap.sdk.ads.HeyzapInterstitialActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" android:name="com.heyzap.sdk.ads.HeyzapVideoActivity"/>
        <activity android:name="com.heyzap.sdk.ads.HeyzapProxyActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" android:name="com.heyzap.sdk.ads.VASTActivity"/>
        <activity android:name="com.heyzap.sdk.ads.MediationTestActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vungle.publisher.VideoFullScreenAdActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vungle.publisher.MraidFullScreenAdActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="true" android:name="com.unity3d.ads.adunit.AdUnitActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="false" android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <receiver android:name="com.tooflya.android.cocos2d.library.notifications.Receiver" android:process=":remote"/>
        <receiver android:name="com.heyzap.sdk.ads.PackageAddedReceiver">
            <intent-filter>
                <data android:scheme="package"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>